In [3]:
import pandas
data = pandas.read_csv('titanic.csv')

In [8]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
P_class = data['Pclass'].value_counts() 
class_1 = P_class[1] 
print(class_1) # количество пассажиров в 1 классе
class_3 = P_class[3]
print(round(class_1/class_3, 3)) # во сколько раз меньше пассажиров в 1 классе

216
0.44

In [10]:
sur = data['Survived'].value_counts()
p_sur = round(100*sur[1]/(sur[1]+sur[0]), 2)
print(p_sur) #процент выживших пасссажиров

38.38

In [11]:
"""Кого было больше: мужчин или женщин"""
P_sex = data['Sex'].value_counts() 
if  P_sex['male'] > P_sex['female']:
    print('Men more than women')
elif P_sex['male'] == P_sex['female']: 
    print('The number of men and women is equal')
else:
    print('Women more than men')

Men more than women

In [12]:
"""Средний и средний медианный возраст всех пассажиров"""
P_age = data['Age']
print(round(P_age.mean(),2))
print(P_age.median())

29.7
28.0

In [15]:
"""Средний и средний медианный возраст выживших пассажиров"""
sur_data = data[data['Survived'] == 1]
sur_data[['Survived','Age']]
P_age_sur = sur_data['Age']

print('Средний возраст выживших пассажиров:', round(P_age_sur.mean(),2))
print('Медианный возраст выживших пассажиров:', P_age_sur.median())

com = round(P_age.mean()/P_age_sur.mean(), 3)

if com > 1:
    print('Средний возраст всех пассажиров больше, чем средний возраст виживиших в ', com)
elif com == 1:
    print('Средний возраст всех пассажиров равен среднему возрасту выживших')
else:
    print('Средний возраст всех пассажиров меньше, чем средний возраст виживиших в ', com)

    
    
com1 = round(P_age.median()/P_age_sur.median(), 2)    

if com1 > 1:
    print('Медианный возраст всех пассажиров больше, чем медианный возраст виживиших в ', com1)
elif com1 == 1:
    print('Медианный возраст всех пассажиров равен медианному возрасту выживших')
else:
    print('Медианный возраст всех пассажиров меньше, чем медианный возраст виживиших в ', com1)

Средний возраст выживших пассажиров: 28.34
Медианный возраст выживших пассажиров: 28.0
Средний возраст всех пассажиров больше, чем средний возраст виживиших в  1.048
Медианный возраст всех пассажиров равен медианному возрасту выживших

In [17]:
#корреляция
corr_data = data[['SibSp','Parch']]
corr_data.corr()

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [18]:
# Удобней написать функцию, которая из входной строки выбирает имя:
def get_name(s):
    if s.find("(") != -1:
        index_start = s.find('(')
        ss = s[index_start + 1:]
        if ss.find(' ') != -1:
            index_end = ss.find(' ')
            ss = ss[:index_end]
    else:    
        index_start = s.find('.')
        ss = s[index_start + 2:]
        if ss.find(' ') != -1:
            index_end = ss.find(' ')
            ss = ss[:index_end]
    
    name = ss.replace('"', '')
    name = name.replace(')', '')
    name = name.strip()
    return name

women_data = data[data['Sex'] == 'female'] # оставим только женские данные


# Создадим список, в который будем складывать полученные имена.
names = [] 
for full_name in women_data['Name']: # пройдемся по датафрейму
    name = get_name(full_name)
    names.append(name)

names.sort()

# Теперь нужно найти самое распространенное в списке значение. Для этого можно пройтись циклом по
# элементам списка, вызывая метод count у списка со значением текущего элемента.

i = 0
num_max = 0
for name in names:
    num = names.count(names[i])
    if num > num_max:
        num_max = num
        names_max = names[i]
    i += 1
   
    

print(names_max)

Anna